body{
    background-color: lightblue;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    flex: 1;                  
    text-align: center;
}